<% include header %>
	<table class="ui striped table">
	 	<thead>
	    	<tr>
				<th>餐厅名称</th>
				<th>订单编号</th>
				<th>会员邮箱</th>
				<th>会员地址</th>
				<th>下单时间</th>
				<th>订单总价（元）</th>
	    	</tr>
	  	</thead>
		<tbody>
		 <% backOrders.forEach(function(backOrder){ %>
			<tr>
				<td><%= backOrder.restaurantName %></td>
	    		<td><%= backOrder.id %></td>
				<td><%= backOrder.username%></td>
	    		<td><%= backOrder.address %></td>
				<td><%= backOrder.orderDate%></td>
				<td><%= backOrder.totalPrice%></td>
			</tr>
		 <% }) %>
		</tbody>
	</table>
<%- include("pagination",{type:'backOrder'}) %>
<% include footer %>
